{block content}
<div id="banner">
	<h1 n:block=title>Reports</h1>
</div>

<div id="content">
	<a n:href="Users:default">Go back to users</a>

	<div>
		<li>Total users: {$userCount}</li>
		<li>Total assigned cards: {$assignedCardsCount}</li>
		<li>Top 10 users: {$usersWithPrices}</li>
	</div>
</div>


